# Local/private config goes in the include
[include]
        path = ~/.gitconfig.local
[alias]
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple

[core]
        pager = delta

[delta]
        features = unobtrusive-line-numbers
        light = false

[interactive]
        diffFilter = delta --color-only

[diff]
        colorMoved = default

# [delta "unobtrusive-line-numbers"]
#     line-numbers = true
#     line-numbers-minus-style = "#444444"
#     line-numbers-zero-style = "#444444"
#     line-numbers-plus-style = "#444444"
#     line-numbers-left-format = "{nm:>4}┊"
#     line-numbers-right-format = "{np:>4}│"
#     line-numbers-left-style = blue
#     line-numbers-right-style = blue

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

