.antidote
.cache
.cisco
Applications
Desktop
Downloads
Library
Movies
Music
Pictures
Public
.anyconnect
.lesshst
.node_repl_history
.viminfo
.zsh_history
.DS_Store
.CF*
Documents
.ssh
.zsh-*/
.zsh_*/
*.local/
.config/nvim/
*.local
Code/
Notes/
.npm/

.dotfiles.git
